

/* Reset Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.img-section:hover {
  scale: 1.02;
  transition: all linear 0.3s;
}

.box-shadow {
  box-shadow: 0.1px 0.1px 9px 0.2px black;
}


.line-hori {
  border: 1px solid rgb(29, 194, 172);
  /* background-color:rgb(29, 194, 172); ; */
}